name: Unit Tests
on: [ push, pull_request ]

jobs:
  unittests_on_macOS:
    name: Unit tests on macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test --filter CodableCSVTests -v
  
  unittests_on_Ubuntu:
    name: Unit tests on Ubuntu
    runs-on: ubuntu-latest
    container:
      image: swift:latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test --filter CodableCSVTests --enable-test-discovery -v
