// Packaging
PRODUCT_NAME = CSV
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.codable.csv
INFOPLIST_FILE = $(SRCROOT)/Configuration/Common/Common.plist

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 0.1.5
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Swift
SWIFT_VERSION = 4.2

// User-Generated
BUNDLE_SIGNATURE = MSDC
